baseURL = 'https://www.joys-corner.com/'
languageCode = 'en-us'
title = "Joy's Corner"
theme = 'nostyleplease'

    

[[menu.main]]
    name = "About"
    url = "/about/"
    weight = 1

[[menu.main]]
    name = "Posts"
    url = "/posts/"
    weight = 2



    