/* This changes the body text */
body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
    font-size: 19px;
    line-height: 1.6;
}

/* This changes the headings */
h1, h2, h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: -0.02em;
}